@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>This is the home page</h1>
<hr />
@Html.ActionLink("View all Messages", "GetMessages")
<br />
@Html.ActionLink("Send a new message", "SendMessage")